@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
:root{
    /* COLORS */
    --LIGHT-RED: hsl(0, 100%, 67%);
    --LIGHT-RED-BACKGROUND: hsla(0, 100%, 67%, 0.100);
    --ORANGEY-YELLOW: hsl(39, 100%, 56%);
    --ORANGEY-YELLOW-BACKGROUND: hsla(39, 100%, 56%, 0.100);
    --GREEN-TEAL: hsl(166, 100%, 37%);
    --GREEN-TEAL-BACKGROUND: hsla(166, 100%, 37%, 0.100);
    --COBALT-BLUE: hsl(234, 85%, 45%);
    --COBALT-BLUE-BACKGROUND: hsla(234, 85%, 45%, 0.100);
    /* GRADIENTS */
    --LIGHT-SLATE-BLUE:  hsl(252, 100%, 67%);
    --LIGHT-ROYAL-BLUE: hsl(241, 81%, 54%);
    
    --VIOLET-BLUE: hsla(256, 72%, 46%, 1);
    --PERSIAN-BLUE: hsla(241, 72%, 46%, 0);
    /* NEUTRAL */
    --WHITE: hsl(0, 0%, 100%);
    --PALE-BLUE: hsl(221, 100%, 96%);
    --LIGHT-LAVENDER: hsl(241, 100%, 89%);
    --DARK-GRAY-BLUE: hsl(224, 30%, 27%);
    --LIGHT-GRAY-BLUE: hsla(224, 30%, 27%, 0.500);

    /* FONT-WEIGHT */
    --LIGHT: 500;
    --BOLD: 700;
    --BOLDER: 800;
}
body{
    font-family: 'Hanken Grotesk', serif;
    min-height: 100vh;
}
.box{
    background-image: linear-gradient(to top,
    var(--LIGHT-ROYAL-BLUE),var(--LIGHT-SLATE-BLUE));
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--WHITE);
    border-radius: 0rem 0rem 2rem 2rem;
    padding-top: 2.5rem;
    margin-bottom: 2rem;
}
.text{
    text-align: center;
    font-weight: var(--BOLD);
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--LIGHT-LAVENDER);
}
.circle{
    height: 14rem;
    width: 14rem;
    background-image: linear-gradient(var(--VIOLET-BLUE),var(--PERSIAN-BLUE));
    border-radius: 50%;
    display: grid;
    place-content: center;
    margin-bottom: 2rem;
}
h1{
    font-size: 5rem;
    font-weight: bold;
}
.circle p{
    text-align: center;
    font-size: 1.6rem;
    color: var(--LIGHT-LAVENDER);
}
h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.box-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
}
.box-text{
    font-size: 1.8rem;
    color: var(--LIGHT-LAVENDER);
    margin-bottom: 3.5rem;
    width: 30rem;
}
h3{
    font-size: 2rem;
    align-self: flex-start;
    margin-bottom: 2rem;
}
table{
    width: 100%;
    font-weight: bold;
    margin-bottom: 2rem;
    max-width: 60rem;
}
tr {
    display: flex;
    align-items: center;
    border-radius: 1rem;
    justify-content: space-between;
    height: 6rem;
    width: 100%;
    padding: 0 1.5rem 0 1.5rem;
}
td {
    align-self: center;
    font-size: 2rem;
}
img {
    transform: scale(1.2);
    align-self: center;
    margin-right: 0.5rem;
    transform: translateY(0.4rem);
}
span{
    color: var(--DARK-GRAY-BLUE);
}
.grey{
    color: var(--LIGHT-GRAY-BLUE);
}
.red{
    background-color: var(--LIGHT-RED-BACKGROUND);
    color: var(--LIGHT-RED);
    text-align: left;
    margin-bottom: 1rem;
}
.yellow{
    background-color: var(--ORANGEY-YELLOW-BACKGROUND);
    color: var(--ORANGEY-YELLOW);
    margin-bottom: 1rem;
}
.teal{
    background-color: var(--GREEN-TEAL-BACKGROUND);
    color: var(--GREEN-TEAL);
    margin-bottom: 1rem;
}
.blue{
    background-color: var(--COBALT-BLUE-BACKGROUND);
    color: var(--COBALT-BLUE);
    margin-bottom: 1rem;
}
.button{
    height: 4rem;
    background-color: var(--DARK-GRAY-BLUE);
    color: var(--WHITE);
    font-size: 2rem;
    width: 100%;
    max-width: 60rem;
    height: 6rem;
    font-weight: bold;
    display: grid;
    place-content: center;
    border-radius: 3rem;
}
.button:active,
.button:hover {
    cursor: pointer;
    background-image: linear-gradient(to top,
    var(--LIGHT-ROYAL-BLUE),var(--LIGHT-SLATE-BLUE));
}
main {
    margin-bottom: 4rem;
}
.attribution {
    font-size: 1.6rem;
    font-weight: bold;
    align-self: flex-end;
    justify-self: center;
    width: max-content;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 0.5rem;
    color: var(--COBALT-BLUE);
}
.attribution a { 
    text-decoration: none;
    transition: 1s ease-in-out;
    color: var(--ORANGEY-YELLOW);
}
.attribution a:hover,
.attribution a:active {
    filter: brightness(1.3);
}

.button:active{
    background-color: var(--LIGHT-ROYAL-BLUE);
}
@media (min-width: 640px) {
    h3 {
        align-self: center;
        transform: translateX(-25rem);
    }
}
@media (min-width: 1440px) {
    body{
        height: 100%;
        background-color: var(--PALE-BLUE);
    }
    main{
        margin: 2rem;
        padding: 1.5rem;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card{
        display: flex;
        width: 80rem;
        background-color: var(--WHITE);
        border-radius: 2rem 2rem 2rem 2rem;
    }
    .box{
        max-height: 100vh;
        border-radius: 2rem;
        width: 50%;
        align-items: center;
        margin-bottom: 0;
        justify-content: space-around;
    }
    .box-1{
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 4.5rem 3rem;
        background-color: var(--WHITE);
        border-radius: 0rem 2rem 2rem 0rem;
        justify-content: space-evenly;
        gap: 2rem;
        margin-bottom: 0;
    }
    .break {
        display: none;
    }
    .text{
        font-size: 3rem;
        width: 20rem;
        text-wrap: wrap;
    }
    .circle{
        height: 18rem;
        width: 18rem;
        border-radius: 50%;
    }
    h3{
        text-align: left;
        font-size: 2.5rem;
        transform: translateX(0);
        align-self: flex-start;
        margin-bottom: 0;
    }
    .box-text{
        text-align: center;
        width: 26rem;
    }
    .button{
        height: 6rem;
        font-size: 2rem;
    }
    table {
        margin-bottom: 0;
    }
}